@font-face {
  font-family: 'Helvetica Now Display';
  src: url('font/HelveticaNowDisplay-Bold.ttf');
}

@font-face {
  font-family: 'Helvetica Now Display New';
  src: url('font/HelveticaNowDisplay-Medium.ttf') format('truetype');
  font-weight: lighter;
}

header {
  background-color: #8a6517;
  display: grid;
  justify-content: flex-end;
}

.navbar {
  z-index: 9998;
  width: 100%;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: inherit;
  mix-blend-mode: difference;
  background-image: url(src_images/fi2dxxqyo7xa1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  padding: 40px 0;
  font-family: 'Helvetica Now Display';
  font-size: 22px;
  font-style: normal;
  display: flex;
  justify-content: center ;
  height: 100vh;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-right: 20px;
  display: inline;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.nav-grid.right {
  justify-content: center;
  align-self: top;
}

body {
  display: grid;
  background-color: #141414;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.demo {
  font-family: 'Helvetica Now Display';
  font-size: 1.5rem;
  color: #fff;
  text-align: left;
  padding: 20px;
}

.signatures {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.wojakImage {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
  pointer-events: none;
  
}

.barra-container {
  font-family: 'Helvetica Now Display';
  color: #ffffff;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.progress {
  background: rgba(255,255,255,0.1);
  border-radius: 100px;
  padding: 0 5px;
  height: 20px;
  width: 500px;
  margin-bottom: 10%;
}

.progress-pg {
  animation: pg 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes pg {
  0% { width: 0; }
  100% { width: 40%; }
}

.progress-sql {
  animation: sql 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes sql {
  0% { width: 0; }
  100% { width: 30%; }
}

.progress-git {
  animation: git 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes git {
  0% { width: 0; }
  100% { width: 65%; }
}

.progress-bash {
  animation: bash 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes bash {
  0% { width: 0; }
  100% { width: 65%; }
}

.progress-ing {
  animation: ing 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes ing {
  0% { width: 0; }
  100% { width: 50%; }
}

.my-photo {
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
  margin-bottom: 5%;
  pointer-events: none;
}

.elchato {
  width: 150px; /* Ajusta el ancho y alto según tus necesidades */
  height: 150px; /* Debe ser igual para hacerla circular */
  border-radius: 50%; /* Hace que las esquinas sean redondas */
  object-fit: cover; /* Ajusta el tamaño de la imagen para que se ajuste al espacio redondo */
}

* { box-sizing: border-box; }

body { 
  color: #666;
}

/* STRUCTURE */

.wrapper {
  font-family: 'Helvetica Now Display';
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 10px auto;
}

.columns {
  font-family: 'Helvetica Now Display New';
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 2px solid rgb(49, 49, 49);
	margin: 2px;
	padding: 10px;
  color:#afafaf;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}

footer {
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 2rem;
}

.social-media a{
 color: white;
 font-size: 3rem;
}

.social-media:hover svg{
  transform: translateY(-4px);
}

.button {
  text-align: center;
  justify-items: center;
  margin-bottom: 5%;
}

button {
margin-left: 1%;
	place-self: center;
	position: relative;
	border: none;
	padding: 1rem 2.5em;
	border-radius: 1rem;
	color: rgb(0, 0, 0);
	background: rgb(255, 255, 255);
  font-family: 'Helvetica Now Display';
}

.titlecs {
  position:top;
  font-family: 'Helvetica Now Display';
  color: #ffffff;
}

.csinflu {
  text-align: center;
  justify-content: center;
  max-width: 20%;
}

.menor {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("https://cdn.facesofopensource.com/wp-content/uploads/2017/02/09202215/linus.faces22052.web_.jpg") center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url("https://cdn.facesofopensource.com/wp-content/uploads/2017/02/09202215/linus.faces22052.web_.jpg") left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url("https://upload.wikimedia.org/wikipedia/commons/7/79/Alan_Turing_az_1930-as_%C3%A9vekben.jpg") center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url("https://upload.wikimedia.org/wikipedia/commons/7/79/Alan_Turing_az_1930-as_%C3%A9vekben.jpg") left center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url("https://i.pinimg.com/474x/92/d1/71/92d17142932b3aef7f130dc2727382c4.jpg") center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url("https://i.pinimg.com/474x/92/d1/71/92d17142932b3aef7f130dc2727382c4.jpg") left center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}
h2 {
  font-family: 'Helvetica Now Display New';
  color: #8f8f8f;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



@media (max-width: 768px) {
  .menor {
    flex-direction: column;
  }

  .border {
    width: 100%;
  }

  .card {
    margin-top: 1rem;
  }

  .demo {
    margin: 1rem;
  }

  .columns {
    width: 100%;
    margin-top: 1rem;
  }

  .barra-container {
    max-width: 40%;
  }

  .container {
    width: 30%;
    max-width: fit-content;
  }

  .wrapper {
    width: 30%;
    max-width: fit-content;
  }
}